.App {
  height: 400px;
  width: 300px;
  border: 1px solid gray;
}

.pointer {
  cursor: pointer;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}


