.App {
  height: 500px;
  width: 400px;
  border: 1px solid gray;
  overflow-y: scroll;
}

.pointer {
  cursor: pointer;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.right {
  float: right;
}
